/* iOS Cordova Tweak */
.device-cordova.device-ios {
  height: 100vh;
}

/* Custom color theme properties */
:root {
  --f7-theme-color: #6ea6e2;
  --f7-theme-color-rgb: 178, 211, 247;
  --f7-theme-color-shade: #4f97e4;
  --f7-theme-color-tint: #dfe9f5;
}

/* Your app custom styles here */